body 
{
	width: 900px;
	text-align: center;
	margin: auto;
	background-image: url("http://more-sky.com/data/out/9/IMG_321048.png");
}
div#bio {
    width:  80%;
    padding-left:  30px;
}
img.person
{
	border-radius: 50%;
	border: 5px solid black;
	height: 50%;
	width: 50%;
}